<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.truepush.qa.testcases.Postcampaign"/>
      <class name="com.truepush.qa.testcases.ListSegments"/>
      <class name="com.truepush.qa.testcases.Campaignstats"/>
      <class name="com.truepush.qa.testcases.ListCampaigns"/>
      <class name="com.truepush.qa.testcases.ListTriggers"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
